'use strict';

var gulp = require('gulp');<% if(!answers.remote){ %>
var livereload = require('gulp-livereload');<% } %>
var path = require('path');
var semverRegex = require('semver-regex');
var resolve = path.resolve;

gulp.task('clean-dist', function() {
    return require('rimraf').sync(resolve(__dirname, 'dist'));
});

gulp.task('dist', ['clean-dist'], function(cb) {

    var packager = require('electron-packager');
    var packageJson = require('./package.json');
    var version = packageJson.devDependencies['electron-prebuilt'].match(semverRegex())[0];

    packager({
        arch: '<%= answers.arch %>',
        platform: '<%= answers.platform %>',
        version: version,
        ignore: /node_modules|gulpfile\.js|\.gitignore/,
        dir: __dirname,
        asar: true,
        out: 'dist'
    }, cb);
});

gulp.task('dev', function(cb) {<% if(!answers.remote){ %>

    livereload.listen({port: 35729});

    gulp.watch('src/*', function(event) {
        gulp.src('src/*').pipe(livereload());
    });
    <% } %>
    var isWin = /^win/.test(process.platform);
    require('child_process')
        .exec((isWin ? 'sh' : 'node') + ' ./node_modules/.bin/electron ./', {
            cwd: __dirname,
            env: {
                NODE_ENV: 'dev'
            }
        }, cb);
});
