{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "<%= answers.description %>",
  "scripts": {
    "dist": "node ./node_modules/.bin/gulp dist",
    "dev": "node ./node_modules/.bin/gulp dev"
  },
  "keywords": [
    "electron",
    "<%= answers.name %>"
  ],
  "author": "<%= answers.username %>",
  "license": "MIT"
}
