{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "<%= answers.description %>",
  "main": "src/main.js",
  "scripts": {
    "dist": "gulp dist",
    "dev": "gulp dev"
  },
  "keywords": [
    "electron",
    "<%= answers.name %>"
  ],
  "author": "<%= answers.username %>",
  "license": "MIT"
}
