{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "<%= answers.description %>",
  "main": "main.js",
  "keywords": [
    "electron",
    "<%= answers.name %>"
  ],
  "author": "<%= answers.username %>",
  "license": "MIT"
}
